doctype html
html
    head
        meta( charset='utf-8' )
        meta( name="format-detection" content="telephone=no" )
        meta( name="apple-mobile-web-app-capable" content="yes" )
        meta(name="hotcss" content="design-width=1440,initial-dpr=1")
        //meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
        //meta(name='viewport', content='width=device-width, height=device-height')
        meta(name='viewport')
        //meta(name='viewport', content='initial-scale=scale,maximum-scale=scale,minimum-scale=scale,user-scalable=no')
        title manage
    body
        #app
